<!DOCTYPE html>
<html>
    <head>
        <title>Status page</title>
    </head>
    <body>
        <h1><div style="text-align: center;">Booking Status</div></h1>
        <div><p>
            <a href="/dashboard" style="text-align: right;"><strong>Go back to Dashboard</strong></a>    
        </p></div>
        <div class="msg"><b>{{ msg }}</b></div>
        <form action="/status" method="post"></form>
        <table border="1">
            <thead>
                <tr>
                    <th>Booking_Id</th>
                    <th>Bus_Id</th>
                    <th>Name</th>
                    <th>Arrive</th>
                    <th>Destinations</th>
                    <th>Travel_Date</th>
                    <th>Arrival_Time</th>
                    <th>Departure_Time</th>
                    <th>PassengerNo</th>
                    <th>Total_Fare</th>
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                <tr>
                    <td>{{ i.Booking_Id }}</td>
                    <td>{{ i.BusId }}</td>   
                    <td>{{ i.Username }}</td>
                    <td>{{ i.Arrive }}</td>
                    <td>{{ i.Destination }}</td>
                    <td>{{ i.Travel_Date }}</td>
                    <td>{{ i.Arrival_Time }}</td>
                    <td>{{ i.Departure_Time }}</td>
                    <td>{{ i.PassengerNo }}</td>
                    <td>{{ i.Total_Fare }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>